.profile-and-date-container {
  width: 40%;
  background-color: #EEE;
  border-radius: 1vw;
  box-shadow: -1vw 1vw 1vw 0px rgba(0, 0, 0, 0.25);
}

.profile-authorization {
  border-radius: 1vw;
  height: 50%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1vw;


  @include mobile {
    height: 60%;
    row-gap: 1.5vw;
  }

  .profile-entrance {

    &__button {
      background-color: #D92446;
      border-radius: 3vw;
      font-size: 1.5vw;
      height: 3vw;
      width: 15vw;

      @include mobile {
        height: 4.5vw;
        width: 25vw;
        font-size: 2.5vw;
      }
    }
  }

  .profile-registration {

    &__button {
      height: 3vw;
      width: 15vw;
      background-color: #FF4A15;
      border-radius: 3vw;
      font-size: 1.5vw;

      @include mobile {
        height: 4.5vw;
        width: 25vw;
        font-size: 2.5vw;
      }
    }
  }
}


.profile {
  background-color: var(--background-color-el);
  border-radius: 1vw;
  box-shadow: -1vw 1vw 1vw 0px rgba(0, 0, 0, 0.25);

  &-container {
    height: 50%;
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
          "avatar toys"
          "progres progres";

    @include mobile {
      height: 55%;
    }
  }



  &-avatar {
    grid-area: avatar;
    display: flex;
    align-items: center;
    margin-left: 1.5vw;


    &-image {
      border: 0.2vw solid white;
      border-radius: 50%;
      width: 5vw;
      height: 5vw;
      background-size: cover;
      background-image: url("../../images/mainPageImages/avatarPhoto.jpg");

      @include mobile {
        width: 9vw;
        height: 9vw;
      }

    }

    &-fio {
      width: 7vw;
      font-size: 1vw;
      margin-left: 5%;
      line-height: 1.25;

      @include mobile {
        font-size: 1.8vw;
      }
    }
  }

  .toys-container {
    display: flex;
    grid-area: toys;
    column-gap: 0.5vw;

    .toy-gold-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .toy-gold-icon {
        width: 3vw;

        @include mobile {
          width: 5vw;
        }
      }
    }

    .toy-red-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .toy-red-icon {
        width: 3vw;

        @include mobile {
          width: 5vw;
        }
      }
    }

    .toys-count {
      font-size: 1vw;
      font-weight: bold;

      @include mobile {
        font-size: 1.75vw;
      }
    }
  }

  .complete-progress {
    grid-area: progres;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-count {
      font-size: 2vw;

      @include mobile {
        font-size: 2.5vw;
      }
    }

    &-bar {
      border-radius: 1vw;
      height: 0.35vw;
      width: 75%;
      background-color: pink;
      margin-top: 0.5vw;

      @include mobile {
        height: 0.5vw;
      }
    }
  }
}

.draw-date-container {
  padding-top: 5%;
  font-size: 1.25vw;
  padding-left: 6%;
  display: flex;
  flex-direction: column;
  color: #000;
  row-gap: 0.5vw;


  @include mobile {
    font-size: 2vw;
    row-gap: 0.1vw;
  }
}


.draw-date {
  display: flex;
  align-items: center;
  column-gap: 4%;



  &-checkbox {
    display: flex;
    background-color: #D9D9D9;
    height: 2vw;
    width: 2vw;
    padding: 1.5%;

    @include mobile {
      height: 2.5vw;
      width: 2.5vw;
      padding: 1%;
    }

    &-icon {
      object-fit: contain;
    }
  }
}




