.profile-and-date-container {
  width: 40%;
  background-color: #EEE;
  border-radius: 1vw;
  box-shadow: -1vw 1vw 1vw 0px rgba(0, 0, 0, 0.25);
}

.profile {
  background-color: var(--background-color-el);
  border-radius: 1vw;
  height: 60%;
  display: grid;
  box-shadow: -1vw 1vw 1vw 0px rgba(0, 0, 0, 0.25);
  grid-template-columns: 0.7fr 0.3fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
          "avatar toys"
          "progres progres";

  &-avatar {
    grid-area: avatar;
    display: flex;
    align-items: center;
    padding-top: 5%;
    padding-left: 8%;

    @include mobile {
      padding-top: 7%;
      padding-left: 9%;
    }

    &-image {
      border: 0.2vw solid white;
      border-radius: 50%;
      width: 7vw;
      height: 7vw;
      background-size: cover;
      background-image: url("../../images/mainPageImages/avatarPhoto.jpg");

      @include mobile {
        width: 10vw;
        height: 10vw;
      }

    }

    &-fio {
      font-size: 1.5vw ;
      margin-left: 5%;
      line-height: 1.25;

      @include mobile {
        font-size: 1.8vw;
      }
    }
  }
}

.toys-container {
  display: flex;
  grid-area: toys;
  flex-direction: column;
  align-items: center;
  font-size: 1.3vw;

  @include mobile {
    font-size: 2vw;
  }
}

.toys-icon {
  width: 2.5vw;
  position: relative;

  @include mobile {
    width: 4vw;
  }
}

.toys-count {
  font-size: 2vw;
  font-weight: bold;
}

.complete-progress {
  grid-area: progres;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-count {
    font-size: 2vw;

    @include mobile {
      font-size: 2.5vw;
    }
  }

  &-bar {
    border-radius: 1vw;
    height: 0.35vw;
    width: 75%;
    background-color: pink;
    margin-top: 0.5vw;

    @include mobile {
      height: 0.5vw;
    }
  }
}

.draw-date-container {
  padding-top: 5%;
  font-size: 1.25vw;
  padding-left: 6%;
  display: flex;
  flex-direction: column;
  color: #000;
  row-gap: 0.5vw;


  @include mobile {
    font-size: 2vw;
    row-gap: 0.1vw;
  }
}


.draw-date {
  display: flex;
  align-items: center;
  column-gap: 4%;



  &-checkbox {
    display: flex;
    background-color: #D9D9D9;
    height: 2vw;
    width: 2vw;
    padding: 1.5%;

    @include mobile {
      height: 2.5vw;
      width: 2.5vw;
      padding: 1%;
    }

    &-icon {
      object-fit: contain;
    }
  }
}




