@import "../utils/zero",
        "../utils/variables",
        "../utils/media",
        "../utils/fonts";

@import "../header",
        "../mainPageStyle/mainLogo",
        "../mainPageStyle/suppliersPreview",
        "../mainPageStyle/profileAndDateInfo",
        "../mainPageStyle/mainGame",
        "../footer";

@import "../miniGamesStyle/treasureGame",
        "../miniGamesStyle/ticTacGame",
        "../miniGamesStyle/puzzleGame",
        "../miniGamesStyle/wheelStyle";

@import "../shared/soundSwitch",
        "../shared/onload",
        "../shared/popUpBalls",
        "../shared/gameGift",
        "../shared/addFio",
        "../shared/checkRegistration";

body {
  background-color: var(--background-color);
  font-family: "Inter", sans-serif;
  color: #fff;
}

.main-page-wrapper {
  display: grid;
  grid-template-columns: 1fr calc(100dvw/1.55) 1fr;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas:
    ". header ."
    ". mainLogo ."
    ". infoBlock ."
    ". mainGame ."
    "footer footer footer";
  row-gap: 1.5vw;

  @include mobile {
    justify-content: center;
    grid-template-columns: 95vw;
    grid-template-areas:
    "header"
    "mainLogo"
    "infoBlock"
    "mainGame";
    row-gap: 2vw;
  }
}


.sound-wrapper {
  display: flex;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: rgba(255, 255, 255, 0.7215686275);
  backdrop-filter: blur(7px);
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.sound-container {
  display: flex;
  width: 20vw;
  height: 11vw;
  background-color: var(--background-color-alt);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 3vw;

  @include mobile {
    width: 70vw;
    height: 40vw;
  }

  .onload-text {
    font-size: 3vw;

    @include mobile {
      font-size: 11vw;
    }
  }
}

