.header {
  grid-area: header;

  &-container {
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 1dvw;
    font-size: 1dvw;
    background-color: var(--background-color-el);

    @include mobile {
      font-size: 2.5vw;
    }

  }
  &-inner {
    padding: 1% 3%;
    display: flex;
    justify-content: space-between;

    &__logo img {
      width: 6vw;

      @include mobile {
        width: 20vw;
      }
    }
  }
}

.navigation {
  display: flex;
  align-items: center;

  &-menu {
    display: flex;
    column-gap: 4vw;
  }
}

