
.main-game {
  margin-top: 5%;
  grid-area: mainGame;
  position: relative;

  &-snake {
    width: 100%;
  }

  &-step {
    font-size: 2vw;
    display: flex;
    position: absolute;
    width: 6vw;
    height: 6vw;
    background-color: orange;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }
}

//style="top: 1.85vw; right: 9.3vw;" style="top: 1.85vw; right: 15vw;"