.main-logo {
  grid-area: mainLogo;
  display: flex;
  background-color: var(--background-color-el);
  border-radius: 1.5vw;
  height: 8vw;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  column-gap: 5vw;
  padding: 1%;
  margin-top: 1.5vw;


  &__heading {
    font-size: 4vw;
  }

  &__image {
    width: 14vw;
    object-fit: contain;
  }
}