.find-diff-game-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.find-diff-game-container {
  background-color: var(--background-color);
  width: 61vw;
  height: 34vw;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
  row-gap: 1vw;
  transition: height 1s ease;

  @include mobile {
    width: 96vw;
    height: 157vw;
    border-radius: 4vw;
  }

  .find-diff-heading {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 2vw;
    width: 100%;
    justify-content: center;

    @include mobile {
      font-size: 5vw;
    }

    &-text {
      font-size: 2vw;
      font-family: "Akshar", sans-serif;
      font-weight: 600;

      @include mobile {
        font-size: 6vw;
      }
    }

    &-cross {
      width: 2vw;
      height: 2vw;
      position: absolute;
      cursor: pointer;
      right: 1vw;

      @include mobile {
        width: 6vw;
        height: 6vw;
        top: 2vw;
        right: 2vw;
      }
    }
  }
  .find-diff-game {
    display: flex;
    width: 100%;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      align-items: center;
    }

    .find-diff-main-image-container {
      position: relative;
      .find-diff-main-image {
        width: 29vw;

        @include mobile {
          width: 79vw;
        }
      }

      .diff-1.found, .diff-2.found, .diff-3.found, .diff-4.found, .diff-5.found, .diff-6.found {
        opacity: 1;
      }
    }

    .find-diff-second-image-container {
      position: relative;
      .find-diff-second-image {
        width: 29.5vw;

        @include mobile {
          width: 79.5vw;
        }
      }

      .diff-1.found, .diff-2.found, .diff-3.found, .diff-4.found, .diff-5.found, .diff-6.found {
        opacity: 1;
      }
    }
  }
}

.find-diff-result {
  font-size: 2vw;

  @include mobile {
    font-size: 6vw
  }
}
.diff-1 {position: absolute; width: 3vw; height: 4vw; border-radius: 50%; bottom: 1.5vw; left: 4vw; border: 0.35vw solid red; opacity: 0; transition: opacity 0.5s ease;
  @include mobile {width: 8vw; height: 12vw; bottom: 3.5vw; left: 11vw; border: 0.7vw solid red;}
}
.diff-2 {position: absolute; width: 4vw; height: 1.5vw; border-radius: 50%; bottom: 8.3vw; left: 11.2vw; border: 0.35vw solid red; opacity: 0; transition: opacity 0.5s ease;
  @include mobile {width: 9vw; height: 3.5vw; bottom: 22vw; left: 31.2vw; border: 0.7vw solid red;}
}
.diff-3 {position: absolute; width: 2.5vw; height: 2vw; border-radius: 50%; bottom: 6.3vw; right: 4.2vw; border: 0.35vw solid red; opacity: 0; transition: opacity 0.5s ease;
  @include mobile {width: 6vw; height: 6.5vw; bottom: 16.3vw; right: 11.2vw; border: 0.7vw solid red;}
}
.diff-4 {position: absolute; width: 6.5vw; height: 6vw; border-radius: 50%; bottom: 10.3vw; right: 6.2vw; border: 0.35vw solid red; opacity: 0; transition: opacity 0.5s ease;
  @include mobile {width: 18.5vw; height: 14vw; bottom: 27.3vw; right: 16.2vw; border: 0.7vw solid red;}
}
.diff-5 {position: absolute; width: 3vw; height: 3vw; border-radius: 50%; top: 2.5vw; right: 14.2vw; border: 0.35vw solid red; opacity: 0; transition: opacity 0.5s ease;
  @include mobile {width: 7vw; height: 7vw; top: 7.5vw; right: 39.2vw; border: 0.7vw solid red;}
}
.diff-6 {position: absolute; width: 3vw; height: 3vw; border-radius: 50%; top: 9.5vw; right: 14.2vw; border: 0.35vw solid red; opacity: 0; transition: opacity 0.5s ease;
  @include mobile {width: 8vw; height: 8vw; top: 26.5vw; right: 38.9vw; border: 0.7vw solid red;}
}






