.main-prizes-container {
  grid-area: mainPrizes;
  background-color: var(--background-color-alt);
  border-radius: 1vw;
  padding-bottom: 1vw;
  height: 40vw;

  @include mobile {
    height: 60vw;
  }
}

.main-prizes-heading-container {
  display: flex;

  .main-prizes-snake-icon {
    margin-top: 2vw;
    width: 21vw;
    object-fit: contain;

    @include mobile {
      width: 32vw;
    }
  }

  .main-prizes-text-container {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    text-align: center;

    .main-prizes-heading {
      font-size: 4vw;

      @include mobile {
        font-size: 5vw;
      }
    }

    .main-prizes-text {
      font-size: 1.5vw;
      font-family: Inter, sans-serif;
      padding: 0 5vw;
      line-height: 1.25;

      @include mobile {
        font-size: 2.5vw;
      }
    }
  }

}

.main-prizes-icon-container {
  display: flex;
  align-items: flex-end;
  padding-left: 2.5vw;

  .icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .main-prizes-icon-text {
    margin-top: 2vw;
    font-family: Inter, sans-serif;
    font-size: 1vw;
    padding: 0 5.5vw;
    line-height: 1.25;

    @include mobile {
      font-size: 2vw;
    }
  }

  .main-prizes-tvIcon { width: 26vw; object-fit: contain; @include mobile {width: 34vw;}}
  .main-prizes-playIcon { width: 17vw; object-fit: contain; @include mobile {width: 29vw;}}
  .main-prizes-holodilnikIcon { width: 13vw; object-fit: contain; @include mobile {width: 20vw;}}
}




