.week-prizes-container {
  background-color: var(--background-color-alt);
  border-radius: 1vw;
  grid-area: weekPrizes;
  padding-bottom: 2vw;
  height: 47vw;

  @include mobile {
    height: 66vw;
  }
}

.week-prizes-heading-container {
  display: flex;
}

.week-prizes-snake-icon {
  width: 16vw;
  object-fit: contain;

  @include mobile {
    width: 18vw;
  }
}
.week-prizes-text-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vw 4vw;
  width: 67%;

  @include mobile {
    width: 73%;
  }

}

.week-prizes-heading {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4vw;

  @include mobile {
    font-size: 4.5vw;
  }
}

.week-prizes-text {
  font-size: 1.5vw;
  padding: 0 2vw;
  font-family: Inter, sans-serif;
  line-height: 1.25;

  @include mobile {
    font-size: 2.5vw;
    padding: 0 5vw;
  }
}


.week-prizes-icon-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
          "grill aerogrill biggrill"
          "yandex robot biggrill"
;
  justify-items: center;
  align-items: end;
  margin-top: 1vw;
}

.week-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1vw;

  @include mobile {
    font-size: 1.8vw;
  }
}

.week-prize-text {
  margin-top: 1.5vw;
  padding: 0 5vw;
  font-family: Inter, sans-serif;
  line-height: 1.25;
}


.week-grill-prize-container { grid-area: grill;}
.week-aerogrill-prize-container { grid-area: aerogrill;}
.week-yandex-prize-container { grid-area: yandex;}
.week-robot-prize-container { grid-area: robot;}
.week-biggrill-prize-container { grid-area: biggrill;}

.week-grill-prize-container img {height: 10vw; @include mobile {height: 15vw;}}
.week-aerogrill-prize-container img {height: 10vw; @include mobile {height: 14vw;}}
.week-yandex-prize-container img {height: 8vw; @include mobile {height: 11vw;}}
.week-robot-prize-container img {height: 8vw; @include mobile {height: 11vw;}}
.week-biggrill-prize-container img {height: 24vw; @include mobile {height: 36vw;}}