<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>Змейка удачи 2025</title>
    <link rel="stylesheet" href="../static/css/mainPageStyle/mainStyle.css">

    <script>
        function GetCookie(name) {
            const cookieArray = document.cookie.split('; ');
            for (const cookie of cookieArray) {
                const [cookieName, cookieValue] = cookie.split('=');
                if (cookieName.trim() === name) {
                    return cookieValue;
                }
            }
            return null;
        }

        async function getCurrentUser () {
            let cookie = GetCookie("token")
            try {
                const response = await fetch('https://promo.tdanix.ru/api/users/me', {
                    method: 'GET',
                    headers: {
                        'accept': 'application/json',
                        'token': cookie,
                    },
                });
                if (response.ok) {
                    const user = await response.json();
                    console.log("Текущий пользователь:", user);
                    window.currentUser  = user.data;
                    show_steps(window.currentUser.count_steps)
                } else {
                    window.location.href = "/login";
                }
            } catch (error) {
                console.error("Произошла ошибка:", error);
            }
        }

        function updateDOM() {
            updateProgressBar(window.currentUser.count_steps)
            const profileAvatar = document.querySelector('.profile-avatar');
            let fio = document.createElement("div")
            let addFio = document.createElement("button")
            console.log(window.currentUser)
            if (currentUser) {
                fio.className = "profile-avatar-fio"
                fio.textContent = window.currentUser.fio
                profileAvatar.append(fio)
            } else {
                addFio.className = "profile-avatar-fio"
                addFio.innerHTML = "Добавить ФИО"
                profileAvatar.append(addFio)
            }
        }

        getCurrentUser();

        window.onload = function () {
            document.getElementById('onload').style.display = 'none';
            updateDOM()
        }
    </script>
</head>
<body>
    <div class="onload-wrapper" id="onload">
        <div class="onload-container" style="">
            <span class="onload-text">Загрузка...</span>
            <svg class="onload-spinner" viewBox="0 0 50 50">
                <circle class="spinner-path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
        </div>
    </div>
    <div class="main-page-wrapper">
        <header class="wrapper__header header">
            <div class="header-container">
                <div class="header-inner">
                    <div class="header-inner__logo logo">
                        <a href="/"><img class="logo__image" src="../static/images/globalsImages/anixLogo.png" alt="Лого Аникс" /></a>
                    </div>
                    <nav class="header-inner__navigation navigation" >
                        <ul class="navigation-menu">
                            <li class="navigation-menu__item">
                                Условия
                            </li>
                            <li class="navigation-menu__item">
                                <a href="/gifts">Подарки</a>
                            </li>
                            <li class="navigation-menu__item">
                                <a href="/reviews">Поcтавщики</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="main-logo">
            <span class="main-logo__heading">
                ЗМЕЙКА УДАЧИ
            </span>
            <img class="main-logo__image" src="../static/images/mainPageImages/year.png" />
        </div>
        <div class="info-block-container">
            <div class="wrapper-suppliers">
                <div class="suppliers-container suppliers">
                    <span class="suppliers__heading">Поставщики</span>
                    <img class="suppliers__image" src="../static/images/suppliersImages/1_1.png" alt= />
                    <img class="suppliers__image" src="../static/images/suppliersImages/1_2.png" alt= />
                    <img class="suppliers__image" src="../static/images/suppliersImages/1_3.png" alt= />
                    <img class="suppliers__image" src="../static/images/suppliersImages/1_4.png" alt= />
                    <img class="suppliers__image" src="../static/images/suppliersImages/2_1.png" alt= />
                    <img class="suppliers__image" src="../static/images/suppliersImages/2_2.png" alt= />
                    <img class="suppliers__image" src="../static/images/suppliersImages/2_3.png" alt= />
                    <img class="suppliers__image" src="../static/images/suppliersImages/2_4.png" alt= />
                    <img class="suppliers__image" src="../static/images/suppliersImages/3_1.png" alt= />
                    <img class="suppliers__image" src="../static/images/suppliersImages/3_2.png" alt= />
                    <img class="suppliers__image" src="../static/images/suppliersImages/3_3.png" alt= />
                    <img class="suppliers__image" src="../static/images/suppliersImages/3_4.png" alt= />
                    <img class="suppliers__image" src="../static/images/suppliersImages/4_1.png" alt= />
                    <img class="suppliers__image" src="../static/images/suppliersImages/4_2.png" alt= />
                    <img class="suppliers__image" src="../static/images/suppliersImages/4_3.png" alt= />
                    <img class="suppliers__image" src="../static/images/suppliersImages/4_4.png" alt= />
                </div>
            </div>
            <div class="profile-and-date-container">
                <div class="profile-container profile">
                    <div class="profile-avatar">
                        <div class="profile-avatar-image"></div>
<!--                        <span class="profile-avatar-fio">Егор Черников</span>-->
<!--                        <button class="profile-avatar-fio">Добавить ФИО</button>-->
                    </div>
                    <div class="toys-container">
                        <div class="toy-gold-container">
                            <img class="toy-gold-icon" src="../static/images/globalsImages/toyRed0.png" />
                            <span class="toys-count" id="toy-gold-count">0 шт</span>
                        </div>
                        <div class="toy-red-container">
                            <img class="toy-red-icon" src="../static/images/globalsImages/toyRed0.png" />
                            <span class="toys-count" id="toy-red-count">0 шт</span>
                        </div>
                    </div>
                    <div class="complete-progress">
                        <span class="complete-progress-count">40 из 40</span>
                        <div class="complete-progress-bar"></div>
                    </div>
                </div>
                <div class="profile-authorization profile">
                    <div class="profile-registration">
                        <button class="profile-registration__button">Регистрация</button>
                    </div>
                    <div class="profile-entrance">
                        <button class="profile-entrance__button">Вход</button>
                    </div>
                </div>
                <div class="draw-date-container">
                    <div class="draw-date">
                        <div class="draw-date-checkbox">
                            <img class="draw-date-checkbox-icon" src="../static/images/mainPageImages/drawIconYes.png" alt="" />
                        </div>
                        <span class="draw-date-text">розыгрыш призов с 1 по 7</span>
                    </div>
                    <div class="draw-date">
                        <div class="draw-date-checkbox">
                            <img class="draw-date-checkbox-icon" src="../static/images/mainPageImages/drawIconNot.png" alt="" />
                        </div>
                        <span class="draw-date-text">розыгрыш призов с 8 по 14</span>
                    </div>
                    <div class="draw-date">
                        <div class="draw-date-checkbox">
                            <img class="draw-date-checkbox-icon" src="../static/images/mainPageImages/drawIconNot.png" alt="" />
                        </div>
                        <span class="draw-date-text">розыгрыш призов с 15 по 21</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-game">
            <img class="main-game-snake" src="../static/images/mainPageImages/snake.png" />
            <div class="main-game-step" id="step_1" style="display: none;">1</div>
            <div class="main-game-step" id="step_2" style="display: none">2</div>
            <div class="main-game-step" id="step_3" style="display: none">3</div>
            <div class="main-game-step" id="step_4" style="display: none">4</div>
            <div class="main-game-step" id="step_5" style="display: none">5</div>
            <div class="main-game-step" id="step_6" style="display: none">6</div>
            <div class="main-game-step" id="step_7" style="display: none">7</div>
            <div class="main-game-step" id="step_8" style="display: none">8</div>
            <div class="main-game-step" id="step_9" style="display: none">9</div>
            <div class="main-game-step" id="step_10" style="display: none">10</div>
            <div class="main-game-step" id="step_11" style="display: none">11</div>
            <div class="main-game-step" id="step_12" style="display: none">12</div>
            <div class="main-game-step" id="step_13" style="display: none">13</div>
            <div class="main-game-step" id="step_14" style="display: none">14</div>
            <div class="main-game-step" id="step_15" style="display: none">15</div>
            <div class="main-game-step" id="step_16" style="display: none">16</div>
            <div class="main-game-step" id="step_17" style="display: none">17</div>
            <div class="main-game-step" id="step_18" style="display: none">18</div>
            <div class="main-game-step" id="step_19" style="display: none">19</div>
            <div class="main-game-step" id="step_20" style="display: none">20</div>
            <div class="main-game-step" id="step_21" style="display: none">21</div>
            <div class="main-game-step" id="step_22" style="display: none">22</div>
            <div class="main-game-step" id="step_23" style="display: none">23</div>
            <div class="main-game-step" id="step_24" style="display: none">24</div>
            <div class="main-game-step" id="step_25" style="display: none">25</div>
            <div class="main-game-step" id="step_26" style="display: none">26</div>
            <div class="main-game-step" id="step_27" style="display: none">27</div>
            <div class="main-game-step" id="step_28" style="display: none">28</div>
            <div class="main-game-step" id="step_29" style="display: none">29</div>
            <div class="main-game-step" id="step_30" style="display: flex">30</div>
            <div class="main-game-step" id="step_31" style="display: none">31</div>
            <div class="main-game-step" id="step_32" style="display: none">32</div>
            <div class="main-game-step" id="step_33" style="display: none">33</div>
            <div class="main-game-step" id="step_34" style="display: none">34</div>
            <div class="main-game-step" id="step_35" style="display: none">35</div>
            <div class="main-game-step" id="step_36" style="display: none">36</div>
            <div class="main-game-step" id="step_37" style="display: none">37</div>
            <div class="main-game-step" id="step_38" style="display: none">38</div>
            <div class="main-game-step" id="step_39" style="display: none">39</div>
            <div class="main-game-step" id="step_40" style="display: none">40</div>
        </div>
    </div>
    <div class="treasure-game-wrapper" id="treasureGame" style="display: none">
        <div class="treasure-game-container">
            <div class="treasure-game-heading">
                <span class="treasure-game-heading-text">
                    Сундуки везения
                </span>
                <img class="treasure-game-heading-cross" src="../static/images/miniGameImages/crossIcon.png" />
            </div>
            <div class="treasure-game-chest-container">
                <img class="treasure-game-chest" id="chest1" src="../static/images/miniGameImages/chest1.png">
                <img class="treasure-game-chest" id="chest2" src="../static/images/miniGameImages/chest2.png">
                <img class="treasure-game-chest" id="chest3" src="../static/images/miniGameImages/chest3.png">
            </div>
        </div>
    </div>
    <div class="tic-tac-game-wrapper" id="ticTacGame" style="display: none">
        <div class="tic-tac-game-container">
            <div class="tic-tac-game-heading">
                <span class="tic-tac-game-heading-text">
                    Крестики нолики
                </span>
                <img class="tic-tac-game-heading-cross" src="../static/images/miniGameImages/crossIcon.png" />
            </div>
            <div class="tic-tac-game">
                <div class="tic-tac-board" id="ticTacBoard">
                    <div class="tic-tac-row">
                        <div class="tic-tac-cell" id="cell-1"></div>
                        <div class="tic-tac-cell" id="cell-2"></div>
                        <div class="tic-tac-cell" id="cell-3"></div>
                    </div>
                    <div class="tic-tac-row">
                        <div class="tic-tac-cell" id="cell-4"></div>
                        <div class="tic-tac-cell" id="cell-5"></div>
                        <div class="tic-tac-cell" id="cell-6"></div>
                    </div>
                    <div class="tic-tac-row">
                        <div class="tic-tac-cell" id="cell-7"></div>
                        <div class="tic-tac-cell" id="cell-8"></div>
                        <div class="tic-tac-cell" id="cell-9"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="puzzle-game-wrapper" id="puzzleGame" style="display: none">
        <div class="puzzle-game-container">
            <div class="puzzle-game-heading">
                <span class="puzzle-game-heading-text">
                    Паззл
                </span>
                <img class="puzzle-game-heading-cross" src="../static/images/miniGameImages/crossIcon.png" />
            </div>
            <div class="puzzle-game">
                <div class="puzzle-board" id="puzzleContainer">
                    <div class="puzzle-piece" draggable="true" id="piece-1" style="background-image: url('../static/images/miniGameImages/puzzleImage.jpg/1.jpg')"></div>
                    <div class="puzzle-piece" draggable="true" id="piece-2" style="background-image: url('../static/images/miniGameImages/puzzleImage.jpg/2.jpg')"></div>
                    <div class="puzzle-piece" draggable="true" id="piece-3" style="background-image: url('../static/images/miniGameImages/puzzleImage.jpg/3.jpg')"></div>
                    <div class="puzzle-piece" draggable="true" id="piece-4" style="background-image: url('../static/images/miniGameImages/puzzleImage.jpg/4.jpg')"></div>
                    <div class="puzzle-piece" draggable="true" id="piece-5" style="background-image: url('../static/images/miniGameImages/puzzleImage.jpg/5.jpg')"></div>
                    <div class="puzzle-piece" draggable="true" id="piece-6" style="background-image: url('../static/images/miniGameImages/puzzleImage.jpg/6.jpg')"></div>
                    <div class="puzzle-piece" draggable="true" id="piece-7" style="background-image: url('../static/images/miniGameImages/puzzleImage.jpg/7.jpg')"></div>
                    <div class="puzzle-piece" draggable="true" id="piece-8" style="background-image: url('../static/images/miniGameImages/puzzleImage.jpg/8.jpg')"></div>
                    <div class="puzzle-piece" draggable="true" id="piece-9" style="background-image: url('../static/images/miniGameImages/puzzleImage.jpg/9.jpg')"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wheel-game-wrapper" id="wheelGame" style="display: none">
        <div class="wheel-game-container">
            <div class="wheel-game-heading">
                <span class="wheel-game-heading-text">
                    Колесо фортуны
                </span>
                <img class="wheel-game-heading-cross" src="../static/images/miniGameImages/crossIcon.png" />
            </div>
            <div class="wheel-game">
                <div class="pointer"></div>
                <div class="wheel-container">
                    <div class="wheel" id="wheel">
                        <div class="segment" data-value="1"><img class="icon-segment" src="../static/images/prizesPageImages/robotIcon.png"> </div>
                        <div class="segment" data-value="2"><img class="icon-segment" src="../static/images/prizesPageImages/aerogrillIcon.png"></div>
                        <div class="segment" data-value="3"><img class="icon-segment" src="../static/images/prizesPageImages/bigGrillIcon.png"></div>
                        <div class="segment" data-value="4"><img class="icon-segment" src="../static/images/prizesPageImages/yandexStationIcon.png"></div>
                        <div class="segment" data-value="5"><img class="icon-segment" src="../static/images/prizesPageImages/shoperImage.png"></div>
                        <div class="segment" data-value="6"><img class="icon-segment" src="../static/images/prizesPageImages/grillIcon.png"></div>
                        <div class="segment" data-value="7"><img class="icon-segment" src="../static/images/prizesPageImages/robotIcon.png"></div>
                        <div class="segment" data-value="8"><img class="icon-segment" src="../static/images/prizesPageImages/robotIcon.png"></div>
                    </div>
                </div>
                <button class="wheel-button" onclick="spinWheel()">Вращать</button>
                <div id="result"></div>
            </div>
        </div>
    </div>
    <div class="sound-switch">
        <img class="sound-switch-icon" id="soundSwitch" src="../static/images/globalsImages/soundOnIcon.png"/>
    </div>
    <footer class="footer" id="footer">
        <img class="footer-elka" src="../static/images/globalsImages/treeZeroGif.gif" />
        <img class="footer-gifts" src="../static/images/globalsImages/giftsImage.png" />
    </footer>
    <script src="../static/js/onLoad.js"></script>
    <script src="../static/js/puzzleGame.js"></script>
    <script src="../static/js/treasureGame.js"></script>
    <script src="../static/js/soundSwitch.js"></script>
    <script src="../static/js/ticTacGame.js"></script>
    <script src="../static/js/wheelGame.js"></script>
</body>
</html>

