<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <title>Змейка удачи 2025</title>
  <link rel="stylesheet" href="../static/css/supplierPageStyle/supplierMainStyle.css">
    <script>
        window.onload = function () {
            document.getElementById('onload').style.display = 'none';
        }
    </script>
</head>
<body>
    <div class="onload-wrapper" id="onload">
        <div class="onload-container" style="">
            <span class="onload-text">Загрузка...</span>
            <svg class="onload-spinner" viewBox="0 0 50 50">
                <circle class="spinner-path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
        </div>
    </div>
    <div class="supplier-page-wrapper">
        <header class="wrapper__header header">
            <div class="header-container">
                <div class="header-inner">
                    <div class="header-inner__logo logo">
                        <a href="/"><img class="logo__image" src="../static/images/globalsImages/anixLogo.png" alt="Лого Аникс" /></a>
                    </div>
                    <nav class="header-inner__navigation navigation" >
                        <ul class="navigation-menu">
                            <li class="navigation-menu__item">
                                Условия
                             </li>
                            <li class="navigation-menu__item">
                                <a href="/gifts">Подарки</a>
                            </li>
                            <li class="navigation-menu__item">
                                Поставщики
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="supplier-main-logo">
            <div class="supplier-main-logo__heading">
                <span class="supplier-main-logo__text1">ИДЕМ НАВСТРЕЧУ</span>
                <span class="supplier-main-logo__text2">НОВОМУ ГОДУ</span>
            </div>
            <img class="supplier-main-logo__image" src="../static/images/mainPageImages/year.png" />
        </div>
        <div class="reviews-wrapper">
            <div class="reviews-header">
                <img class="reviews-header__logo" src="../static/images/suppliersImages/2_3.png">
                <span class="reviews-header__description">Описание</span>
            </div>
            <div class="reviews-gift-and-description">
                <div class="reviews-gift">
                    <span class="reviews-gift__photo">порарок от компании</span>
                </div>
                <div class="reviews-description-container">
                    <div class="reviews-description__text">
                        Алейка - это натуральные продукты от щедрых полей Алтая!
                        Мука, крупы, макароны и подсолнечное масло для тех, кто выбирает здоровое и вкусное питание для себя и своей семьи!
                        Продукты, выпускаемые под торговой маркой «Алейка», наполнены энергией солнца, земли и добрых тружеников Алтая.
                    </div>
                    <div class="reviews-text">
                        Делитесь вашими отзывами
                        и предложениями, люди написавшие
                        лучшие и развернутые отзывы получат приз
                    </div>
                </div>
            </div>
            <div class="reviews-comment-wrapper">
                <div class="reviews-comment-head">
                    <span class="reviews-comment-head__text">Ваши отзывы</span>
                </div>
                <div class="reviews-container">
                    <div class="review-container">
                        <div class="review-profile-name">
                            <span class="review-profile-name__text">Егор Черников</span>
                        </div>
                        <div class="review-text-container">
                            <span class="review-text">какой то отзыв</span>
                        </div>
                        <div class="review-image-container">
                            <img class="review-image" src="../static/images/globalsImages/emptyImage.png" />
                        </div>
                    </div>
                    <div class="review-container">
                        <div class="review-profile-name">
                            <span class="review-profile-name__text">Егор Черников</span>
                        </div>
                        <div class="review-text-container">
                            <span class="review-text">какой то отзыв</span>
                        </div>
                        <div class="review-image-container">
                            <img class="review-image" src="../static/images/globalsImages/emptyImage.png" />
                        </div>
                    </div>
                    <div class="review-container">
                        <div class="review-profile-name">
                            <span class="review-profile-name__text">Егор Черников</span>
                        </div>
                        <div class="review-text-container">
                            <span class="review-text">какой то отзыв</span>
                        </div>
                        <div class="review-image-container">
                            <img class="review-image" src="../static/images/globalsImages/emptyImage.png" />
                        </div>
                    </div>
                    <div class="review-container">
                        <div class="review-profile-name">
                            <span class="review-profile-name__text">Егор Черников</span>
                        </div>
                        <div class="review-text-container">
                            <span class="review-text">какой то отзыв</span>
                        </div>
                        <div class="review-image-container">
                            <img class="review-image" src="../static/images/globalsImages/emptyImage.png" />
                        </div>
                    </div>
                </div>
                <div class="review-add-container">
                    <div class="review-add-head">
                        <span class="review-add-head__text">Добавьте ваш отзыв</span>
                    </div>
                    <form class="review-add-form">
                        <div class="review-add-text-input">
                            <textarea class="review-add-textarea" ></textarea>
                            <div class="review-add-attachment">
                                <img class="review-add-attachment__icon" src="../static/images/globalsImages/addAttachmentIcon.png">
                                <span class="review-add-attachment__text">Добавить фото</span>
                                <label class="review-add-attachment-label">
                                    <input class="review-add-attachment-label__input" type="file" accept="image/png, image/jpg, image/jpeg"/>
                                </label>
                            </div>
                        </div>
                        <div class="review-add-submit">
                            <button class="review-add-submit__button"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>