.reviews-wrapper {
  background-color: #fff;
  grid-area: reviews;
  border-radius: 1.5vw;
  color: #6D6D6D;
  display: flex;
  flex-direction: column;
  padding: 0.2vw 2.5vw 5vw 2.5vw;
  row-gap: 1.5vw;


  .reviews-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      width: 11vw;
      margin-left: 3.5vw;
    }

    &__description {
      font-size: 1.5vw;
      margin-right: 16vw;
    }
  }

  .reviews-gift-and-description {
    display: flex;

    .reviews-gift {
      display: flex;
      width: 18vw;
      height: 18vw;
      background-color: #D9D9D9;
      justify-content: center;
      border-radius: 3vw;
    }

    .reviews-description-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 70%;
      padding-left: 5vw;
      padding-right: 2vw;
      line-height: 1.25;
      font-size: 1vw;

      .reviews-text {
        padding-right: 13vw;
      }
    }
  }

  .reviews-comment-wrapper {
    display: flex;
    width: 100%;
    height: 16vw;
    box-shadow: 0px 4px 24.5px 0px rgba(0, 0, 0, 0.2509803922);
    flex-direction: column;
    border-radius: 1vw;
    padding: 1vw 2.5vw 1vw 2.5vw;

    .reviews-comment-head {

      &__text {
        font-size: 1.5vw;
      }
    }

    .reviews-container {

      .review-container {
        display: grid;
        grid-template-rows: 1.5vw 6vw;
        grid-template-columns: 46vw 8vw;
        grid-template-areas:
        "name name"
        "review image";
        height: 7vw;

        .review-profile-name {
          grid-area: name;
        }

        .review-text-container {
          border: 1px solid #6D6D6D;
          border-radius: 0.5vw;
          grid-area: review;
          height: 6vw;
        }

        .review-image-container {
          display: flex;
          grid-area: image;
          width: 100%;
          height: 100%;
          align-items: center;
          justify-content: center;
          object-fit: contain;

          .review-image {
            width: 6vw;
            height: 6vw;
          }
        }
      }
    }
  }
}